/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');


body {
  margin: 0 32px 0 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #2E2F42;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 20px;
  text-align: center;
}
.main-title-gradient {
  font-size: 35px;
  margin-bottom: 25px;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite ;
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

input[type="text"] {
  padding: 0 16px;
  width: 272px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

input[type="text"] :hover {
  border: 1px solid #000000;
}

input[type="text"] :focus {
  border: 1px solid #4E75FF;
}

button {
  width: 91px;
  padding: 8px 16px;
  font-size: 16px;
  border: 1px solid #4E75FF;
  border-radius: 8px;
  background-color: #4E75FF;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
  opacity: 0.8;
  background-color: #6C8CFF;
  border: 1px solid #6C8CFF;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery a {
  margin: 10px;
  text-decoration: none;
  color: inherit;
}

.gallery img {
  width: 250px;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease-in-out;
  
}

.gallery img:hover {
  transform: scale(1.1);
}

.gallery-item {
  border: 1px solid #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.image-info {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.img-info-item {
  display: flex;
  flex-direction: column;
  font-size: 10px;
}

.btn-load-more {
  display: block;
  /* align-items: center;  */
  width: 160px;
  background-color: #4E75FF;
  /* margin-left: 646px; */
  margin: 20px auto;
  border: 2 px solid #4E75FF;
}

.btn-load-more:hover {
  background-color: #4E75FF;
  border: 2 px solid #4E75FF;
}